/out
/data
build
.vscode
.pytest_cache
.cache
*.pyc
*.pyd
*.pt
*.so
*.o
*.prof
*.swp
*.lib
*.obj
*.exp
.nfs*
*.jpg
*.png
*.ply
*.off
*.npz
*.txt
/src/utils/libmcubes/mcubes.cpp
/src/utils/libsimplify/simplify_mesh.cpp
/src/utils/libsimplify/build
